/* style.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to bottom right, #f3f4f6, #ffffff); */
    color: #222
  }
  
  header {
    text-align: center;
    display: contents;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    /* background: #ffffff; */
    box-shadow: 0 2px 10px rgba(0, 246, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo img {
    width: 700px;
    height: 120px;
  }
  
  nav ul {
    
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 8rem;
    /* text-align: center; */
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #222;
    font-weight: 900;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #8e1616;
  }
  
  .countdown {
    text-align: center;
    /* padding: 0.5rem; */
    /* background: #e5ea95; */
    background-color: #e5e4d4;
    box-shadow: 0 10px 20px rgba(3, 3, 3, 3);
    
  }
  
  #timer {
    font-size: 3rem;
    font-weight: 800;
    margin: 1rem;
    color: #566301;
  }
  
  main {
    padding: 1rem;
    background-color: #c9bead;
  }
  
  .intro {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .intro h1 {
    font-size: 1rem;
    color: #ffae00;
  }
  
  .events .event-box {
    background: #cbc18c;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(5, 5, 5, 5);
    margin-bottom: 2rem;
    padding: 10px 30px;
  }
  
  .events h2 {
    text-align: center;
    font-size: 3rem;
    color: #0077ff;
    margin-top: 1rem;
    /* margin: 1rem; */
    color: #222;
  }
  
  .event-box h3 {
    font-size: 2rem;
    color: #171616;
    margin-bottom: 1rem;
  }
  
  .event-content {
    display: flex;
    gap: 2rem;
  }
  
  .event-content img {
    max-width: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-content p {
    max-width: 90%;
  }
  
  .venue, .contact {
    padding: 2rem 0;
    text-align: center;
    
  }

  .venue h2, .contact h2{
    font-size: 3rem;
    color: #222;
    margin-top: 2rem;
  }
  
  .images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .images img {
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(5, 5, 5, 5);
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #ecdede;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
